<div class="container my-5">
    <h1>Get Synonyms</h1>
        Here are three synonyms:
        <div style="border:thin solid black"><%=answer%></div>
        <a href="/gpt"}>get synonyms for another word</a>
  </div>
